<app-navigation></app-navigation>
<style>
    .bgm{background-image:url('https://png.pngtree.com/thumb_back/fh260/background/20210228/pngtree-blue-fashion-background-watercolor-image_573126.jpg') ;}
</style>
<div class="bgm" style="height:700px;background-position:center;background-repeat: no-repeat;background-size: cover;">
<div class="container">
    <div class="row">
        <div  class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
            <div class="row g-3">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1>Employee Login</h1>
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Employee Id</label>
                    <input name="empid" [(ngModel)]="empid" type="text" class="form-control">
                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Password</label>
                    <input name="password" [(ngModel)]="password" type="password" class="form-control">
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValue()" class="btn btn-primary">Login</button>
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a routerLink="/employeeRegistration">New Employee Registration</a>
                    </div>
                    
                </div>
            </div>
    </div>
</div>


